::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F6FC;
}

@font-face {
  font-family: 'Ethnocentric Rg';
  src: url('../ethnocentric-rg.ttf') format('truetype');
}